fastapi[standard]>=0.135.2
langchain>=0.3.27
langchain-ollama>=0.3.10
ollama>=0.6.1
optuna>=4.5.0
optuna-integration[sklearn]>=4.5.0
pandas>=2.2,<3
pydantic-settings>=2.11.0
scikit-learn>=1.7,<1.8
sqlalchemy>=2.0.48
xgboost>=3.0.0
loguru>=0.7.3
langchain-openai>=0.3.35
strands-agents>=1.27.0
